

:root {
    --primary-text-color: #434455;
    --ocean-color: #404bbf;
    --iris-color: #4d5ae5;
    --primary-white-color: #e5e5e5;
    --header-words-color: #2E2F42;
    
}


.link {
    text-decoration:none;
}
    body {
        font-family: 'Roboto', sans-serif;
        background-color:#FFFFFF;
        color: var(--primary-text-color)
    }
    .list {
        list-style: none;
    }

    

     .contact {
        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
     }   

     .contact:hover {
        color: var(--ocean-color)
     }

         .contact:focus {
            color: var(--ocean-color);
         }

         .team-names {
            background-color: #FFFFFF
         }

     .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
     }
     .change-color-btn {
       font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--iris-color);
            background-color: #F4F4FD;
            cursor: pointer;
            
     }

     .change-color-btn:hover {
        color: #FFFFFF;
        background-color: var(--ocean-color);
     }
     .change-color-btn:focus {

    
    color: #FFFFFF;
    background-color: var(--ocean-color);
     }

     

     .order-btn {
        font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;            
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background-color: #4D5AE5;
            cursor: pointer;
             
     }

     .order-btn:hover,
     .order-btn:focus {
        background-color: var(--ocean-color);
     }

     .effect-sol {
        
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;           
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;

     }

     

     .small-text {
        
            font-size: 16px;
            line-height: 1.5;           
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
                
     }

     .higher-text {
        
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--header-words-color);
    
     }
        
     .name-section {
        
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;            
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--header-words-color);
            background-color: #F4F4FD;
     }

            .we-re-doing-section {
            
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: var(--header-words-color);
                    background-color: #FFFFFF;
        
     }

     .footer-text {
        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color:#F4F4FD;
     }


         .menu-link {
    
             font-weight: 500;
             font-size: 16px;
             line-height: 1.5;
             letter-spacing: 0.02em;             
             color: #2e2f42;
         }
     .menu-link:hover {
        color: var(--ocean-color);
        }

     .menu-link:focus {
        color: var(--ocean-color);
     }

     .footer-back {
        background-color: #2e2f42;
     }


          .studio-footer {
              color: #f4f4fd;
            }
        
            .studio-header {
              color: #2E2F42;  
            }

            .contacts-font-normal {
                font-style: normal;
            }

    .section-team {
        color: #F4F4FD;
        background-color: #F4F4FD

    }

    .section-effect-sol {
        background-color: #2E2F42;
    }

    .to-hide {
        visibility: hidden;
    }